.main .left .activity .preview .title {
    font-size: 2em;
}
.main .left .activity .preview .text {
    font-size: 1.5em;
}
.main .left .activity .preview .near {
    padding: 20px 0;
}
.main .left .activity .preview .near > * {
    padding: 10px 0;
}

.main .left .activity .preview .near span {
    font-size: .9em;
    color: #aaa;
    
}
