body {
    background: #ededed;
}
.row {
    
    margin: 20px 0;
}
.first-screen img {
    border-radius: 5px;
}

.main .top {
    border-radius: 5px;

    padding: 20px 0;
    background: #fafafa;
    border-bottom: 1px solid rgba(0,0,0,.1);
    
}