/* =============fuckdog1 css========== */

.fuckdog1 {
    background: #64bde9;
    margin-top: 40px;
}
.fuckdog1 a {
    display: inline-block;
    background: #fcfcfc;

    color: #78a1c8;
    padding: 8px 20px;
    margin-top: 5px;
    /* margin: 5px  0; */
}
.fuckdog1 a:first-child {
    margin-left: 10px;
}
/* =============fuckdog1 css========== */
/* =============fuckdog2 css========== */
.fuckdog2 {
    background: #f4f4f4;
}
.fuckdog2 span::after {
    content: 'ã€‹'
}

/* =============fuckdog2 css========== */
