
.header .top {
    background: #1788ea;
    color: #fff;
    padding: 18px 0;
    font-size: .9em;
}
.header .top .fr a {
    margin-right: 10px;
}
.header .top .fr a:last-child {
    margin-right: 0;
}


.header .top img {
    vertical-align: bottom;
}
